/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */




/* Utilities */

.container{
    width: 900px;
}


/* Header */

.header-row{
    height: 450px;
    background-color: blue;
    margin-bottom: 100px;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 80px;
}

.logo, .login, .registrati{
    width: 15%;
    background-color: black;
}

nav{
    width: 80%;
    background-color: aquamarine;
}

.header-content{
    background-color: blueviolet;
    height: 200px;
    width: 600px;
    margin: 0 auto;
}

/* Main */

main{
    margin: 0 auto;
}

.image-text{
    background-color: brown;
    height: 500px;
    display: flex;
}

.image{
    background-color: red;
    width: 70%;
}

.text{
    background-color: yellow;
    width: 30%;
}

.tecnologia-affidabile{
}

.fixed-height{
    height: 150px;
    background-color: blueviolet;
}

.tecnologia-affidabile > .immagine{
    height: 400px;
    background-color: black;
}

/* Footer */

footer{
    margin-top: 100px;
    background-color: #23272A;
    height: 550px;
}

.first-section-footer{
    margin: 0 auto;
    height: 400px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.second-section-footer{
    margin: 0 auto;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.intestazione-footer{
    width: calc(100% / 3);
    background-color: aquamarine;
}

.menu-footer{
    width: calc(100% / 3 * 2);
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.footer-menu-section{
    width: 25%;
    border: 1px solid black;
}