/* Reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */




/* Utilities */

.container{
    width: 1400px;
    margin: 0 auto;
}

.flex-justify-between{
    display: flex;
}

/* Header */

.header-row{
    height: 500px;
    background-color: blue;
    margin-bottom: 100px;
}

header.container{
    height: 70px;
    margin-bottom: 100px;
}

.logo, .login, .registrati{
    width: 15%;
    background-color: black;
}

nav{
    width: 80%;
    background-color: aquamarine;
}

.header-content{
    background-color: blueviolet;
    height: 250px;
    width: 800px;
}

/* Main */

.image-text{
    height: 600px;
    display: flex;
    margin-bottom: 100px;
}

.image{
    background-color: red;
    width: 70%;
}

.text{
    background-color: yellow;
    width: 30%;
}

.fixed-height{
    height: 200px;
    background-color: blueviolet;
}

.tecnologia-affidabile > .immagine{
    height: 600px;
    background-color: black;
}

/* Footer */

footer{
    margin-top: 100px;
    background-color: #23272A;
    height: 600px;
}

.first-section-footer{
    height: 450px;
    background-color: blueviolet;
}

.second-section-footer{
    height: 100px;
    background-color: green;
}

.intestazione-footer{
    width: calc(100% / 3);
    background-color: aquamarine;
}

.menu-footer{
    width: calc(100% / 3 * 2);
    background-color: yellowgreen;
}

.footer-menu-section{
    width: 25%;
    border: 1px solid black;
}